## Customer Segmentation

### Multiclass Classification using Softmax Layer in TensorFlow

### Importing the required libraries

```python

In [6]:
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras import Sequential
from tensorflow.keras.losses import SparseCategoricalCrossentropy
import pandas as pd
import numpy as np
import matplotlib as plt

### importing Datasets

In [7]:
train_dataset=pd.read_csv("./train.csv")
test_dataset=pd.read_csv("./test.csv")

### Modifying the dataset:

In [8]:
train_df=pd.DataFrame(train_dataset)
test_df=pd.DataFrame(test_dataset)
print(f"Shape of training dataset:{train_df.shape}")
print(f"Shape of test dataset:{test_df.shape}")

Shape of training dataset:(8068, 11)
Shape of test dataset:(2627, 10)

In [9]:
# data types for train_dataset
train_df.dtypes

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

In [10]:
test_df.dtypes

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
dtype: object

### Removing Null Values

In [11]:
# Checking null values in training dataframe
train_df.isna().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

### Converting non-numeric data to numeric

In [21]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
list=['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score',
       'Var_1', 'Segmentation']
for i in list:
    train_df[i]=le.fit_transform(train_df[i])

list=['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score',
       'Var_1']

for i in list:
    test_df[i]=le.fit_transform(test_df[i])

X_train=train_df.drop('Segmentation',axis=1)
y_train=train_df['Segmentation']

print(X_train)
print(test_df)

          ID  Gender  Ever_Married  Age  Graduated  Profession
0     462809       1             0   22          0           5  \
1     462643       0             1   38          1           2
2     466315       0             1   67          1           2
3     461735       1             1   67          1           7
4     462669       0             1   40          1           3
...      ...     ...           ...  ...        ...         ...
8063  464018       1             0   22          0           9
8064  464685       1             0   35          0           4
8065  465406       0             0   33          1           5
8066  467299       0             0   27          1           5
8067  461879       1             1   37          1           4

      Work_Experience  Spending_Score  Family_Size  Var_1
0                 1.0               2          4.0      3
1                 NaN               0          3.0      3
2                 1.0               2          1.0      5
3                 0.0               1          2.0      5
4                 NaN               1          6.0      5
...               ...             ...          ...    ...
8063              0.0               2          7.0      0
8064              3.0               2          4.0      3
8065              1.0               2          1.0      5
8066              1.0               2          4.0      5
8067              0.0               0          3.0      3

[8068 rows x 10 columns]

In [22]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.NaN,strategy='mean')
list=['Work_Experience','Family_Size']

for i in list:
    X_train[i]=imp.fit_transform(X_train[i].values.reshape(-1,1))

X_train

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,462809,1,0,22,0,5,1.000000,2,4.0,3
1,462643,0,1,38,1,2,2.641663,0,3.0,3
2,466315,0,1,67,1,2,1.000000,2,1.0,5
3,461735,1,1,67,1,7,0.000000,1,2.0,5
4,462669,0,1,40,1,3,2.641663,1,6.0,5
...,...,...,...,...,...,...,...,...,...,...
8063,464018,1,0,22,0,9,0.000000,2,7.0,0
8064,464685,1,0,35,0,4,3.000000,2,4.0,3
8065,465406,0,0,33,1,5,1.000000,2,1.0,5
8066,467299,0,0,27,1,5,1.000000,2,4.0,5
8067,461879,1,1,37,1,4,0.000000,0,3.0,3

In [23]:
print(y_train.isna().sum())
print(y_train.unique())
y_train

0
[3 0 1 2]

0       3
1       0
2       1
3       1
4       0
       ..
8063    3
8064    3
8065    3
8066    1
8067    1
Name: Segmentation, Length: 8068, dtype: int64

In [24]:
test_df.isna().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession           0
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1                0
dtype: int64

### Model: Using Softmax Layer

In [25]:
model=Sequential([
    Dense(units=25, activation='relu'),
    Dense(units=15, activation='relu'),
    Dense(units=4, activation='softmax') # Assuming there are 10 Classes
])

### Loss and Fit:

In [26]:
model.compile(loss=SparseCategoricalCrossentropy())
model.fit(X_train,y_train, epochs=100)

Epoch 1/100
253/253 [==============================] - 1s 1ms/step - loss: 13039.8467
Epoch 2/100
253/253 [==============================] - 0s 1ms/step - loss: 1503.6133
Epoch 3/100
253/253 [==============================] - 0s 1ms/step - loss: 1429.9431
Epoch 4/100
253/253 [==============================] - 0s 1ms/step - loss: 1404.2056
Epoch 5/100
253/253 [==============================] - 0s 1ms/step - loss: 1354.4904
Epoch 6/100
253/253 [==============================] - 0s 2ms/step - loss: 1331.9519
Epoch 7/100
253/253 [==============================] - 0s 1ms/step - loss: 1319.4388
Epoch 8/100
253/253 [==============================] - 0s 2ms/step - loss: 1240.8237
Epoch 9/100
253/253 [==============================] - 0s 1ms/step - loss: 1025.9781
Epoch 10/100
253/253 [==============================] - 0s 1ms/step - loss: 949.9318
Epoch 11/100
253/253 [==============================] - 0s 2ms/step - loss: 913.0751
Epoch 12/100
253/253 [==============================] - 0s 1ms/step - loss: 882.3848
Epoch 13/100
253/253 [==============================] - 0s 1ms/step - loss: 819.8205
Epoch 14/100
253/253 [==============================] - 0s 1ms/step - loss: 760.8529
Epoch 15/100
253/253 [==============================] - 0s 1ms/step - loss: 689.5738
Epoch 16/100
253/253 [==============================] - 0s 2ms/step - loss: 675.6427
Epoch 17/100
253/253 [==============================] - 0s 1ms/step - loss: 634.4521
Epoch 18/100
253/253 [==============================] - 0s 1ms/step - loss: 594.6617
Epoch 19/100
253/253 [==============================] - 0s 1ms/step - loss: 560.6556
Epoch 20/100
253/253 [==============================] - 0s 1ms/step - loss: 525.3676
Epoch 21/100
253/253 [==============================] - 0s 1ms/step - loss: 498.1494
Epoch 22/100
253/253 [==============================] - 0s 1ms/step - loss: 463.7765
Epoch 23/100
253/253 [==============================] - 0s 1ms/step - loss: 459.0204
Epoch 24/100
253/253 [==============================] - 0s 1ms/step - loss: 435.0643
Epoch 25/100
253/253 [==============================] - 0s 1ms/step - loss: 403.9802
Epoch 26/100
253/253 [==============================] - 0s 1ms/step - loss: 385.6255
Epoch 27/100
253/253 [==============================] - 0s 1ms/step - loss: 357.2576
Epoch 28/100
253/253 [==============================] - 0s 2ms/step - loss: 292.9847
Epoch 29/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3872
Epoch 30/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3844
Epoch 31/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3838
Epoch 32/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3837
Epoch 33/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 34/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3837
Epoch 35/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 36/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 37/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 38/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 39/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 40/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 41/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3837
Epoch 42/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 43/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3837
Epoch 44/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 45/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 46/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 47/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 48/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3837
Epoch 49/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 50/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3837
Epoch 51/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 52/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 53/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 54/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 55/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 56/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 57/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3837
Epoch 58/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 59/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 60/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 61/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 62/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 63/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 64/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 65/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 66/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 67/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 68/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 69/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 70/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 71/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3837
Epoch 72/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 73/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 74/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 75/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 76/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 77/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 78/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 79/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 80/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 81/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 82/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 83/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 84/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 85/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 86/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 87/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 88/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3837
Epoch 89/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 90/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 91/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 92/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 93/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 94/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 95/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 96/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 97/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3837
Epoch 98/100
253/253 [==============================] - 0s 2ms/step - loss: 1.3836
Epoch 99/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3836
Epoch 100/100
253/253 [==============================] - 0s 1ms/step - loss: 1.3837

In [27]:
le=LabelEncoder()
list=['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score',
       'Var_1']
for i in list:
    test_df[i]=le.fit_transform(test_df[i])

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 25)                275

 dense_1 (Dense)             (None, 15)                390

 dense_2 (Dense)             (None, 4)                 64

=================================================================
Total params: 729
Trainable params: 729
Non-trainable params: 0
_________________________________________________________________

In [29]:
prediction=model.predict(test_df)

83/83 [==============================] - 0s 1ms/step

In [30]:
prediction

array([[0.24382536, 0.2306581 , 0.24335551, 0.28216103],
       [0.24382536, 0.2306581 , 0.24335551, 0.28216103],
       [0.24382536, 0.2306581 , 0.24335551, 0.28216103],
       ...,
       [       nan,        nan,        nan,        nan],
       [0.24382536, 0.2306581 , 0.24335551, 0.28216103],
       [0.24382536, 0.2306581 , 0.24335551, 0.28216103]], dtype=float32)