## Customer Segmentation

### Multiclass Classification using Softmax Layer in TensorFlow

### Importing the required libraries

```python

In [3]:
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras import Sequential
from tensorflow.keras.losses import SparseCategoricalCrossentropy
import pandas as pd
import numpy as np
import matplotlib as plt

### importing Datasets

In [4]:
train_dataset=pd.read_csv("./train.csv")
test_dataset=pd.read_csv("./test.csv")

### Modifying the dataset:

In [5]:
train_df=pd.DataFrame(train_dataset)
test_df=pd.DataFrame(test_dataset)
print(f"Shape of training dataset:{train_df.shape}")
print(f"Shape of test dataset:{test_df.shape}")

Shape of training dataset:(8068, 11)
Shape of test dataset:(2627, 10)

In [6]:
# data types for train_dataset
train_df.dtypes

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

In [7]:
test_df.dtypes

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
dtype: object

### Removing Null Values

In [8]:
# Checking null values in training dataframe
train_df.isna().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

### Converting non-numeric data to numeric

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
list=['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score',
       'Var_1', 'Segmentation']
for i in list:
    train_df[i]=le.fit_transform(train_df[i])

X_train=train_df.drop('Segmentation',axis=1)
y_train=train_df['Segmentation']

In [10]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.NaN,strategy='mean')
list=['Work_Experience','Family_Size']

for i in list:
    X_train[i]=imp.fit_transform(X_train[i].values.reshape(-1,1))

X_train

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,462809,1,0,22,0,5,1.000000,2,4.0,3
1,462643,0,1,38,1,2,2.641663,0,3.0,3
2,466315,0,1,67,1,2,1.000000,2,1.0,5
3,461735,1,1,67,1,7,0.000000,1,2.0,5
4,462669,0,1,40,1,3,2.641663,1,6.0,5
...,...,...,...,...,...,...,...,...,...,...
8063,464018,1,0,22,0,9,0.000000,2,7.0,0
8064,464685,1,0,35,0,4,3.000000,2,4.0,3
8065,465406,0,0,33,1,5,1.000000,2,1.0,5
8066,467299,0,0,27,1,5,1.000000,2,4.0,5
8067,461879,1,1,37,1,4,0.000000,0,3.0,3

In [11]:
print(y_train.isna().sum())
print(y_train.unique())
y_train

0
[3 0 1 2]

0       3
1       0
2       1
3       1
4       0
       ..
8063    3
8064    3
8065    3
8066    1
8067    1
Name: Segmentation, Length: 8068, dtype: int32

In [12]:
test_df.isna().sum()

ID                   0
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
dtype: int64

### Model: Using Softmax Layer

In [13]:
model=Sequential([
    Dense(units=25, activation='relu'),
    Dense(units=15, activation='relu'),
    Dense(units=4, activation='softmax') # Assuming there are 10 Classes
])

### Loss and Fit:

In [14]:
model.compile(loss=SparseCategoricalCrossentropy())
model.fit(X_train,y_train, epochs=100)

Epoch 1/100
253/253 [==============================] - 1s 2ms/step - loss: 2037.8151
Epoch 2/100
253/253 [==============================] - 1s 2ms/step - loss: 1063.4589
Epoch 3/100
253/253 [==============================] - 0s 2ms/step - loss: 1032.6509
Epoch 4/100
253/253 [==============================] - 0s 2ms/step - loss: 1006.9559
Epoch 5/100
253/253 [==============================] - 0s 2ms/step - loss: 966.3975
Epoch 6/100
253/253 [==============================] - 0s 2ms/step - loss: 927.3466
Epoch 7/100
253/253 [==============================] - 0s 2ms/step - loss: 795.0933
Epoch 8/100
253/253 [==============================] - 0s 2ms/step - loss: 756.4291
Epoch 9/100
253/253 [==============================] - 1s 3ms/step - loss: 718.1476
Epoch 10/100
253/253 [==============================] - 1s 2ms/step - loss: 685.2770
Epoch 11/100
253/253 [==============================] - 1s 4ms/step - loss: 660.5863
Epoch 12/100
253/253 [==============================] - 0s 2ms/step - loss: 606.8759
Epoch 13/100
253/253 [==============================] - 1s 2ms/step - loss: 595.9972
Epoch 14/100
253/253 [==============================] - 1s 4ms/step - loss: 534.1865
Epoch 15/100
253/253 [==============================] - 1s 3ms/step - loss: 480.9724
Epoch 16/100
253/253 [==============================] - 1s 5ms/step - loss: 457.1798
Epoch 17/100
253/253 [==============================] - 1s 4ms/step - loss: 418.5713
Epoch 18/100
253/253 [==============================] - 1s 3ms/step - loss: 399.1486
Epoch 19/100
253/253 [==============================] - 1s 4ms/step - loss: 383.4236
Epoch 20/100
253/253 [==============================] - 1s 4ms/step - loss: 327.3904
Epoch 21/100
253/253 [==============================] - 1s 4ms/step - loss: 283.3719
Epoch 22/100
253/253 [==============================] - 1s 4ms/step - loss: 261.8906
Epoch 23/100
253/253 [==============================] - 1s 4ms/step - loss: 247.0768
Epoch 24/100
253/253 [==============================] - 1s 4ms/step - loss: 239.1168
Epoch 25/100
253/253 [==============================] - 1s 4ms/step - loss: 240.5272
Epoch 26/100
253/253 [==============================] - 1s 4ms/step - loss: 223.4126
Epoch 27/100
253/253 [==============================] - 1s 4ms/step - loss: 218.0389
Epoch 28/100
253/253 [==============================] - 1s 4ms/step - loss: 216.7423
Epoch 29/100
253/253 [==============================] - 1s 4ms/step - loss: 207.2400
Epoch 30/100
253/253 [==============================] - 1s 4ms/step - loss: 202.5322
Epoch 31/100
253/253 [==============================] - 1s 4ms/step - loss: 197.0984
Epoch 32/100
253/253 [==============================] - 1s 4ms/step - loss: 189.2115
Epoch 33/100
253/253 [==============================] - 1s 4ms/step - loss: 180.5372
Epoch 34/100
253/253 [==============================] - 1s 4ms/step - loss: 175.0550
Epoch 35/100
253/253 [==============================] - 1s 4ms/step - loss: 166.8835
Epoch 36/100
253/253 [==============================] - 1s 4ms/step - loss: 158.2543
Epoch 37/100
253/253 [==============================] - 1s 4ms/step - loss: 152.8671
Epoch 38/100
253/253 [==============================] - 1s 4ms/step - loss: 217.7754
Epoch 39/100
253/253 [==============================] - 1s 4ms/step - loss: 209.9909
Epoch 40/100
253/253 [==============================] - 1s 4ms/step - loss: 238.6383
Epoch 41/100
253/253 [==============================] - 1s 5ms/step - loss: 218.5747
Epoch 42/100
253/253 [==============================] - 1s 4ms/step - loss: 199.4830
Epoch 43/100
253/253 [==============================] - 1s 4ms/step - loss: 190.6380
Epoch 44/100
253/253 [==============================] - 1s 4ms/step - loss: 173.7629
Epoch 45/100
253/253 [==============================] - 1s 4ms/step - loss: 153.5666
Epoch 46/100
253/253 [==============================] - 1s 3ms/step - loss: 147.6652
Epoch 47/100
253/253 [==============================] - 1s 4ms/step - loss: 140.8721
Epoch 48/100
253/253 [==============================] - 1s 4ms/step - loss: 136.2822
Epoch 49/100
253/253 [==============================] - 1s 4ms/step - loss: 133.0512
Epoch 50/100
253/253 [==============================] - 1s 5ms/step - loss: 122.7446
Epoch 51/100
253/253 [==============================] - 1s 4ms/step - loss: 118.1186
Epoch 52/100
253/253 [==============================] - 1s 4ms/step - loss: 112.9850
Epoch 53/100
253/253 [==============================] - 1s 4ms/step - loss: 107.5551
Epoch 54/100
253/253 [==============================] - 1s 4ms/step - loss: 99.6106
Epoch 55/100
253/253 [==============================] - 1s 4ms/step - loss: 93.9558
Epoch 56/100
253/253 [==============================] - 1s 4ms/step - loss: 86.4436
Epoch 57/100
253/253 [==============================] - 1s 4ms/step - loss: 80.7582
Epoch 58/100
253/253 [==============================] - 1s 4ms/step - loss: 72.7971
Epoch 59/100
253/253 [==============================] - 1s 4ms/step - loss: 65.2278
Epoch 60/100
253/253 [==============================] - 1s 4ms/step - loss: 53.5322
Epoch 61/100
253/253 [==============================] - 1s 4ms/step - loss: 44.3236
Epoch 62/100
253/253 [==============================] - 1s 4ms/step - loss: 17.1274
Epoch 63/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3871
Epoch 64/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3847
Epoch 65/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3839
Epoch 66/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3837
Epoch 67/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3837
Epoch 68/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3837
Epoch 69/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 70/100
253/253 [==============================] - 1s 5ms/step - loss: 1.3836
Epoch 71/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 72/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3837
Epoch 73/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 74/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 75/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3837
Epoch 76/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 77/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 78/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 79/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 80/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 81/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 82/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 83/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 84/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3837
Epoch 85/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 86/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 87/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 88/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 89/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 90/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 91/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 92/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 93/100
253/253 [==============================] - 1s 3ms/step - loss: 1.3836
Epoch 94/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 95/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 96/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3837
Epoch 97/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 98/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3837
Epoch 99/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836
Epoch 100/100
253/253 [==============================] - 1s 4ms/step - loss: 1.3836

In [15]:
le=LabelEncoder()
list=['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score',
       'Var_1']
for i in list:
    test_df[i]=le.fit_transform(test_df[i])

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 25)                275

 dense_1 (Dense)             (None, 15)                390

 dense_2 (Dense)             (None, 4)                 64

=================================================================
Total params: 729
Trainable params: 729
Non-trainable params: 0
_________________________________________________________________

In [17]:
prediction=model.predict(test_df)

83/83 [==============================] - 0s 2ms/step

In [18]:
prediction

array([[0.24311504, 0.23050888, 0.24429955, 0.2820765 ],
       [0.24311504, 0.23050888, 0.24429955, 0.2820765 ],
       [0.24311504, 0.23050888, 0.24429955, 0.2820765 ],
       ...,
       [       nan,        nan,        nan,        nan],
       [0.24311504, 0.23050888, 0.24429955, 0.2820765 ],
       [0.24311504, 0.23050888, 0.24429955, 0.2820765 ]], dtype=float32)