## Multiclass Classification using Softmax Layer in TensorFlow

### Importing the required libraries

```python

In [165]:
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras import Sequential
from tensorflow.keras.losses import SparseCategoricalCrossentropy
import pandas as pd
import numpy as np
import matplotlib as plt

### importing Datasets

In [166]:
train_dataset=pd.read_csv("./train.csv")
test_dataset=pd.read_csv("./test.csv")

### Modifying the dataset:

In [167]:
train_df=pd.DataFrame(train_dataset)
test_df=pd.DataFrame(test_dataset)
print(f"Shape of training dataset:{train_df.shape}")
print(f"Shape of test dataset:{test_df.shape}")

Shape of training dataset:(8068, 11)
Shape of test dataset:(2627, 10)

In [168]:
# data types for train_dataset
train_df.dtypes

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

In [169]:
test_df.dtypes

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
dtype: object

### Removing Null Values

In [170]:
# Checking null values in training dataframe
train_df.isna().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

### Converting non-numeric data to numeric

In [213]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
list=['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score',
       'Var_1', 'Segmentation']
for i in list:
    train_df[i]=le.fit_transform(train_df[i])

X_train=train_df.drop('Segmentation',axis=1)
y_train=train_df['Segmentation']

In [223]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.NaN,strategy='mean')
list=['Work_Experience','Family_Size']

for i in list:
    X_train[i]=imp.fit_transform(X_train[i].values.reshape(-1,1))

X_train

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,462809,1,0,22,0,5,1.000000,2,4.0,3
1,462643,0,1,38,1,2,2.641663,0,3.0,3
2,466315,0,1,67,1,2,1.000000,2,1.0,5
3,461735,1,1,67,1,7,0.000000,1,2.0,5
4,462669,0,1,40,1,3,2.641663,1,6.0,5
...,...,...,...,...,...,...,...,...,...,...
8063,464018,1,0,22,0,9,0.000000,2,7.0,0
8064,464685,1,0,35,0,4,3.000000,2,4.0,3
8065,465406,0,0,33,1,5,1.000000,2,1.0,5
8066,467299,0,0,27,1,5,1.000000,2,4.0,5
8067,461879,1,1,37,1,4,0.000000,0,3.0,3

In [224]:
print(y_train.isna().sum())
print(y_train.unique())
y_train

0
[3 0 1 2]

0       3
1       0
2       1
3       1
4       0
       ..
8063    3
8064    3
8065    3
8066    1
8067    1
Name: Segmentation, Length: 8068, dtype: int32

In [225]:
test_df.isna().sum()

ID                   0
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
dtype: int64

### Model: Using Softmax Layer

In [178]:
model=Sequential([
    Dense(units=25, activation='relu'),
    Dense(units=15, activation='relu'),
    Dense(units=10, activation='softmax') # Assuming there are 10 Classes
])

### Loss and Fit:

In [226]:
model.compile(loss=SparseCategoricalCrossentropy())
model.fit(X_train,y_train, epochs=100)

Epoch 1/100
253/253 [==============================] - 1s 1ms/step - loss: 10929.3584
Epoch 2/100
253/253 [==============================] - 0s 1ms/step - loss: 2147.0923
Epoch 3/100
253/253 [==============================] - 0s 1ms/step - loss: 2158.2009
Epoch 4/100
253/253 [==============================] - 0s 1ms/step - loss: 2109.8201
Epoch 5/100
253/253 [==============================] - 0s 1ms/step - loss: 2120.6958
Epoch 6/100
253/253 [==============================] - 0s 1ms/step - loss: 2081.8137
Epoch 7/100
253/253 [==============================] - 0s 1ms/step - loss: 2075.4766
Epoch 8/100
253/253 [==============================] - 0s 1ms/step - loss: 2054.3059
Epoch 9/100
253/253 [==============================] - 0s 1ms/step - loss: 2040.6315
Epoch 10/100
253/253 [==============================] - 0s 1ms/step - loss: 2008.7146
Epoch 11/100
253/253 [==============================] - 0s 1ms/step - loss: 1964.6154
Epoch 12/100
253/253 [==============================] - 0s 1ms/step - loss: 1948.5404
Epoch 13/100
253/253 [==============================] - 0s 1ms/step - loss: 1888.4929
Epoch 14/100
253/253 [==============================] - 0s 1ms/step - loss: 1843.2834
Epoch 15/100
253/253 [==============================] - 0s 1ms/step - loss: 1775.8640
Epoch 16/100
253/253 [==============================] - 0s 1ms/step - loss: 1745.9369
Epoch 17/100
253/253 [==============================] - 0s 1ms/step - loss: 1763.3053
Epoch 18/100
253/253 [==============================] - 0s 1ms/step - loss: 1770.1656
Epoch 19/100
253/253 [==============================] - 0s 1ms/step - loss: 1724.1698
Epoch 20/100
253/253 [==============================] - 0s 1ms/step - loss: 1715.7708
Epoch 21/100
253/253 [==============================] - 0s 1ms/step - loss: 1703.6034
Epoch 22/100
253/253 [==============================] - 0s 1ms/step - loss: 1703.0325
Epoch 23/100
253/253 [==============================] - 0s 1ms/step - loss: 1699.6787
Epoch 24/100
253/253 [==============================] - 0s 1ms/step - loss: 1690.8231
Epoch 25/100
253/253 [==============================] - 0s 1ms/step - loss: 1696.9513
Epoch 26/100
253/253 [==============================] - 0s 1ms/step - loss: 1678.2892
Epoch 27/100
253/253 [==============================] - 0s 1ms/step - loss: 1704.0574
Epoch 28/100
253/253 [==============================] - 0s 1ms/step - loss: 1682.9088
Epoch 29/100
253/253 [==============================] - 0s 1ms/step - loss: 1682.7639
Epoch 30/100
253/253 [==============================] - 0s 1ms/step - loss: 1686.8883
Epoch 31/100
253/253 [==============================] - 0s 1ms/step - loss: 1692.4487
Epoch 32/100
253/253 [==============================] - 0s 1ms/step - loss: 1661.1725
Epoch 33/100
253/253 [==============================] - 0s 1ms/step - loss: 1655.1294
Epoch 34/100
253/253 [==============================] - 0s 1ms/step - loss: 1670.3188
Epoch 35/100
253/253 [==============================] - 0s 1ms/step - loss: 1656.7756
Epoch 36/100
253/253 [==============================] - 0s 1ms/step - loss: 1637.0964
Epoch 37/100
253/253 [==============================] - 0s 1ms/step - loss: 1630.7211
Epoch 38/100
253/253 [==============================] - 0s 1ms/step - loss: 1624.0701
Epoch 39/100
253/253 [==============================] - 0s 1ms/step - loss: 1612.7212
Epoch 40/100
253/253 [==============================] - 0s 1ms/step - loss: 1629.1190
Epoch 41/100
253/253 [==============================] - 0s 1ms/step - loss: 1618.8318
Epoch 42/100
253/253 [==============================] - 0s 1ms/step - loss: 1623.2339
Epoch 43/100
253/253 [==============================] - 0s 1ms/step - loss: 1626.8114
Epoch 44/100
253/253 [==============================] - 0s 1ms/step - loss: 1588.0179
Epoch 45/100
253/253 [==============================] - 0s 1ms/step - loss: 1594.3525
Epoch 46/100
253/253 [==============================] - 0s 1ms/step - loss: 1610.7632
Epoch 47/100
253/253 [==============================] - 0s 1ms/step - loss: 1590.2579
Epoch 48/100
253/253 [==============================] - 0s 1ms/step - loss: 1595.0552
Epoch 49/100
253/253 [==============================] - 0s 1ms/step - loss: 1580.2704
Epoch 50/100
253/253 [==============================] - 0s 1ms/step - loss: 1565.8981
Epoch 51/100
253/253 [==============================] - 0s 1ms/step - loss: 1570.5343
Epoch 52/100
253/253 [==============================] - 0s 2ms/step - loss: 1539.1415
Epoch 53/100
253/253 [==============================] - 0s 1ms/step - loss: 1548.2947
Epoch 54/100
253/253 [==============================] - 0s 1ms/step - loss: 1495.2405
Epoch 55/100
253/253 [==============================] - 0s 1ms/step - loss: 1461.1370
Epoch 56/100
253/253 [==============================] - 0s 1ms/step - loss: 1432.7646
Epoch 57/100
253/253 [==============================] - 0s 1ms/step - loss: 1448.2499
Epoch 58/100
253/253 [==============================] - 0s 1ms/step - loss: 1405.5983
Epoch 59/100
253/253 [==============================] - 0s 1ms/step - loss: 1397.9937
Epoch 60/100
253/253 [==============================] - 0s 1ms/step - loss: 1390.7729
Epoch 61/100
253/253 [==============================] - 0s 2ms/step - loss: 1379.4669
Epoch 62/100
253/253 [==============================] - 0s 2ms/step - loss: 1331.5417
Epoch 63/100
253/253 [==============================] - 0s 2ms/step - loss: 1323.0731
Epoch 64/100
253/253 [==============================] - 0s 1ms/step - loss: 1304.4768
Epoch 65/100
253/253 [==============================] - 0s 1ms/step - loss: 1300.6173
Epoch 66/100
253/253 [==============================] - 0s 2ms/step - loss: 1292.0607
Epoch 67/100
253/253 [==============================] - 0s 2ms/step - loss: 1251.5641
Epoch 68/100
253/253 [==============================] - 0s 1ms/step - loss: 1184.0042
Epoch 69/100
253/253 [==============================] - 0s 1ms/step - loss: 1194.9401
Epoch 70/100
253/253 [==============================] - 0s 2ms/step - loss: 1123.4949
Epoch 71/100
253/253 [==============================] - 0s 2ms/step - loss: 1093.1577
Epoch 72/100
253/253 [==============================] - 0s 1ms/step - loss: 1066.4912
Epoch 73/100
253/253 [==============================] - 0s 1ms/step - loss: 1030.8820
Epoch 74/100
253/253 [==============================] - 0s 1ms/step - loss: 1029.1232
Epoch 75/100
253/253 [==============================] - 0s 1ms/step - loss: 988.4302
Epoch 76/100
253/253 [==============================] - 0s 1ms/step - loss: 959.2205
Epoch 77/100
253/253 [==============================] - 0s 1ms/step - loss: 940.8235
Epoch 78/100
253/253 [==============================] - 0s 1ms/step - loss: 892.1262
Epoch 79/100
253/253 [==============================] - 0s 1ms/step - loss: 874.1437
Epoch 80/100
253/253 [==============================] - 0s 1ms/step - loss: 851.1591
Epoch 81/100
253/253 [==============================] - 0s 1ms/step - loss: 819.2912
Epoch 82/100
253/253 [==============================] - 0s 1ms/step - loss: 783.0940
Epoch 83/100
253/253 [==============================] - 0s 1ms/step - loss: 765.7512
Epoch 84/100
253/253 [==============================] - 0s 1ms/step - loss: 756.9808
Epoch 85/100
253/253 [==============================] - 0s 1ms/step - loss: 784.5445
Epoch 86/100
253/253 [==============================] - 0s 1ms/step - loss: 757.4703
Epoch 87/100
253/253 [==============================] - 0s 1ms/step - loss: 733.4608
Epoch 88/100
253/253 [==============================] - 0s 1ms/step - loss: 732.9360
Epoch 89/100
253/253 [==============================] - 0s 1ms/step - loss: 727.8331
Epoch 90/100
253/253 [==============================] - 0s 1ms/step - loss: 698.3660
Epoch 91/100
253/253 [==============================] - 0s 1ms/step - loss: 707.0891
Epoch 92/100
253/253 [==============================] - 0s 1ms/step - loss: 687.2473
Epoch 93/100
253/253 [==============================] - 0s 1ms/step - loss: 695.9769
Epoch 94/100
253/253 [==============================] - 0s 1ms/step - loss: 682.8890
Epoch 95/100
253/253 [==============================] - 0s 1ms/step - loss: 662.5601
Epoch 96/100
253/253 [==============================] - 0s 1ms/step - loss: 659.0704
Epoch 97/100
253/253 [==============================] - 0s 1ms/step - loss: 667.1636
Epoch 98/100
253/253 [==============================] - 0s 1ms/step - loss: 660.9512
Epoch 99/100
253/253 [==============================] - 0s 1ms/step - loss: 641.9391
Epoch 100/100
253/253 [==============================] - 0s 1ms/step - loss: 611.8007

In [233]:
le=LabelEncoder()
list=['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score',
       'Var_1']
for i in list:
    test_df[i]=le.fit_transform(test_df[i])

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,0,1,36,1,2,0.0,2,1.0,5
1,458994,1,1,37,1,5,8.0,0,4.0,5
2,458996,0,1,69,0,9,0.0,2,1.0,5
3,459000,1,1,59,0,4,11.0,1,2.0,5
4,459001,0,0,19,0,8,NaN,2,4.0,5
...,...,...,...,...,...,...,...,...,...,...
2622,467954,1,0,29,0,5,9.0,2,4.0,5
2623,467958,0,0,35,1,1,1.0,2,1.0,5
2624,467960,0,0,53,1,3,NaN,2,2.0,5
2625,467961,1,1,47,1,4,1.0,1,5.0,3
2626,467968,0,0,43,1,5,9.0,2,3.0,6

In [234]:
model.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_27 (Dense)            (None, 25)                275

 dense_28 (Dense)            (None, 15)                390

 dense_29 (Dense)            (None, 10)                160

=================================================================
Total params: 825
Trainable params: 825
Non-trainable params: 0
_________________________________________________________________

In [256]:
prediction=model.predict(test_df)
print(prediction)

83/83 [==============================] - 0s 1ms/step
[[ 0.  0.  1. ...  0.  0.  0.]
 [ 0.  0.  1. ...  0.  0.  0.]
 [ 0.  0.  1. ...  0.  0.  0.]
 ...
 [nan nan nan ... nan nan nan]
 [ 0.  0.  1. ...  0.  0.  0.]
 [ 0.  0.  1. ...  0.  0.  0.]]